{% extends 'base_page.html' %}
{% load static %}
{% block content %}
        <div class="v457_0">
            <span class="v458_140">YOUR MEDICINES</span>

            <div class="row">
                <div class="col-lg-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="v458_132">
                <div class="v458_191"></div>
                <!-- <div class="v458_194"> -->
                    <!-- <a class="v458_197" href="/medicine/add">Add Medicines</a> -->
                    <a href="/medicine/add"><button type="button" class="v458_194" >Add Medicines</button></a>

                <!-- </div> -->
            </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="v458_131">
                <div class="v458_192"></div>
                <!-- <div class="v458_193">
                    <a class="v458_198" href="/medicine/view">View Medicines</a>
                </div> -->
                <a href="/medicine/view"><button type="button" class="v458_193" >View Medicines</button></a>

            </div>
        </div>
            <div class="col-lg-2" >
            </div>
            </div>



           
        </div>
{% endblock content %}