/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 2rem;
}

.main{
  max-width: 1550px;
  /*margin: 0 auto;*/
  margin-left: 5.5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom:2%;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.card_info {
	color: #ffffff;
	padding: 0.8rem;
	/*padding: 0.8rem;*/
  	font-size: 18px;
  	font-weight: 700;
	display: block;
	width: 100%;
	cursor: pointer;
	justify-content: space-between;
	align-items: center;
  	/*text-transform: uppercase;*/
	background-color: rgba(255, 255, 255, 0.12);

}

hr {
	height : 0px;
	border : 3px solid white;
	border-radius: 3px;
	width: 60px;
	margin-left: 0;
	
	color: white;
}

.card_info ul {
  list-style: none;
  display: flex;
  flex: row wrap;
  justify-content: flex-end;
  padding-left: 0;
}

.card_info li:first-child {
  margin-right: auto;
}

.date {
	text-align: right;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 45%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.33%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left,  #2a1b58 40%, #53525a 100%);
}

.card_title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 100px;
  text-align: center;
}