{% extends 'base_page.html' %}
{% load static %}
{% block content %}
<div class="main">
  <!-- <h1>Responsive Card Grid Layout</h1> -->
  <ul class="cards">

    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img src="https://cdn2.hubspot.net/hubfs/322787/Mychefcom/images/BLOG/Header-Blog/photo-culinaire-pexels.jpg">
        </div>
        <div class="card_content">
          <h2 class="card_title">Why you Need More Magnesium in Your Daily Diet</h2>
          <hr>
          <p class="card_text">Magnesium is one of the six essential macro-minerals that is required by the body for
            energy production and synthesis of protein and enzymes. It contributes to the development of bones and most
            importantly it is responsible for synthesis of your DNA and RNA. A new report that has appeared in
            theBritish Journal of Cancer, gives you another reason to add more magnesium to your diet.According to
            researchers Indiana University, daily intake of magnesium may help in preventing pancreatic cancer. Previous
            studies have found that magnesium is inversely associated with the risk of diabetes, which is a common risk
            factor of pancreatic cancer.</p>
          <!-- <button class="btn card_btn">Read More</button> -->
          <div class="card_info">
            <!-- <span> Author </span>
                      <p class="date"> Date </p> -->
            <ul>
              <li>Author</li>
              <li>Date</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img src="https://cdn2.hubspot.net/hubfs/322787/Mychefcom/images/BLOG/Header-Blog/photo-culinaire-pexels.jpg">
        </div>
        <div class="card_content">
          <h2 class="card_title">Why you Need More Magnesium in Your Daily Diet</h2>
          <hr>
          <p class="card_text">Magnesium is one of the six essential macro-minerals that is required by the body for
            energy production and synthesis of protein and enzymes. It contributes to the development of bones and most
            importantly it is responsible for synthesis of your DNA and RNA. A new report that has appeared in
            theBritish Journal of Cancer, gives you another reason to add more magnesium to your diet.According to
            researchers Indiana University, daily intake of magnesium may help in preventing pancreatic cancer. Previous
            studies have found that magnesium is inversely associated with the risk of diabetes, which is a common risk
            factor of pancreatic cancer.</p>
          <!-- <button class="btn card_btn">Read More</button> -->
          <div class="card_info">
            <!-- <span> Author </span>
                    <p class="date"> Date </p> -->
            <ul>
              <li>Author</li>
              <li>Date</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img src="https://cdn2.hubspot.net/hubfs/322787/Mychefcom/images/BLOG/Header-Blog/photo-culinaire-pexels.jpg">
        </div>
        <div class="card_content">
          <h2 class="card_title">Why you Need More Magnesium in Your Daily Diet</h2>
          <hr>
          <p class="card_text">Magnesium is one of the six essential macro-minerals that is required by the body for
            energy production and synthesis of protein and enzymes. It contributes to the development of bones and most
            importantly it is responsible for synthesis of your DNA and RNA. A new report that has appeared in
            theBritish Journal of Cancer, gives you another reason to add more magnesium to your diet.According to
            researchers Indiana University, daily intake of magnesium may help in preventing pancreatic cancer. Previous
            studies have found that magnesium is inversely associated with the risk of diabetes, which is a common risk
            factor of pancreatic cancer.</p>
          <!-- <button class="btn card_btn">Read More</button> -->
          <div class="card_info">
            <!-- <span> Author </span>
                  <p class="date"> Date </p> -->
            <ul>
              <li>Author</li>
              <li>Date</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img src="https://cdn2.hubspot.net/hubfs/322787/Mychefcom/images/BLOG/Header-Blog/photo-culinaire-pexels.jpg">
        </div>
        <div class="card_content">
          <h2 class="card_title">Why you Need More Magnesium in Your Daily Diet</h2>
          <hr>
          <p class="card_text">Magnesium is one of the six essential macro-minerals that is required by the body for
            energy production and synthesis of protein and enzymes. It contributes to the development of bones and most
            importantly it is responsible for synthesis of your DNA and RNA. A new report that has appeared in
            theBritish Journal of Cancer, gives you another reason to add more magnesium to your diet.According to
            researchers Indiana University, daily intake of magnesium may help in preventing pancreatic cancer. Previous
            studies have found that magnesium is inversely associated with the risk of diabetes, which is a common risk
            factor of pancreatic cancer.</p>
          <!-- <button class="btn card_btn">Read More</button> -->
          <div class="card_info">
            <!-- <span> Author </span>
                <p class="date"> Date </p> -->
            <ul>
              <li>Author</li>
              <li>Date</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img src="https://cdn2.hubspot.net/hubfs/322787/Mychefcom/images/BLOG/Header-Blog/photo-culinaire-pexels.jpg">
        </div>
        <div class="card_content">
          <h2 class="card_title">Why you Need More Magnesium in Your Daily Diet</h2>
          <hr>
          <p class="card_text">Magnesium is one of the six essential macro-minerals that is required by the body for
            energy production and synthesis of protein and enzymes. It contributes to the development of bones and most
            importantly it is responsible for synthesis of your DNA and RNA. A new report that has appeared in
            theBritish Journal of Cancer, gives you another reason to add more magnesium to your diet.According to
            researchers Indiana University, daily intake of magnesium may help in preventing pancreatic cancer. Previous
            studies have found that magnesium is inversely associated with the risk of diabetes, which is a common risk
            factor of pancreatic cancer.</p>
          <!-- <button class="btn card_btn">Read More</button> -->
          <div class="card_info">
            <!-- <span> Author </span>
              <p class="date"> Date </p> -->
            <ul>
              <li>Author</li>
              <li>Date</li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img src="https://cdn2.hubspot.net/hubfs/322787/Mychefcom/images/BLOG/Header-Blog/photo-culinaire-pexels.jpg">
        </div>
        <div class="card_content">
          <h2 class="card_title">Why you Need More Magnesium in Your Daily Diet</h2>
          <hr>
          <p class="card_text">Magnesium is one of the six essential macro-minerals that is required by the body for
            energy production and synthesis of protein and enzymes. It contributes to the development of bones and most
            importantly it is responsible for synthesis of your DNA and RNA. A new report that has appeared in
            theBritish Journal of Cancer, gives you another reason to add more magnesium to your diet.According to
            researchers Indiana University, daily intake of magnesium may help in preventing pancreatic cancer. Previous
            studies have found that magnesium is inversely associated with the risk of diabetes, which is a common risk
            factor of pancreatic cancer.</p>
          <!-- <button class="btn card_btn">Read More</button> -->
          <div class="card_info">
            <!-- <span> Author </span>
                  <p class="date"> Date </p> -->
            <ul>
              <li>Author</li>
              <li>Date</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<h3 class="made_by">bbbbb</h3> 
{% endblock content %}